.btn-search,
.btn-home {
  position: relative;
  border-radius: 119px;
  width: 147px;
  height: 36px;
  margin-left: -155px;
  z-index: 2;
  background-color: $secondarycolor;
  border: none;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}
.btn-description {
  border-radius: 119px;
  width: 147px;
  height: 36px;
  background-color: $secondarycolor;
  border: none;
  color: white;
  position: absolute;
  bottom: 25px;
  transition: background-color 0.3s, color 0.3s;
}
.btn-close {
  border-radius: 119px;
  width: 147px;
  height: 36px;
  background-color: $secondarycolor;
  border: none;
  color: white;
  position: absolute;
  left: 40%;
  bottom: 40px;
  transition: background-color 0.3s, color 0.3s;
}
.btn-close:hover {
  background-color: $secondarycolor;
  background-color: transparent !important;
  cursor: pointer;
  color: #ffffff;
}
.btn-search:hover {
  background-color: $secondarycolor;
  background-color: transparent !important;
  cursor: pointer;
  background-color: $secondarycolor;
}
.btn-home:hover {
  background-color: $secondarycolor;
  background-color: transparent !important;
  cursor: pointer;
  background-color: $secondarycolor;
}
.btn-description:hover {
  background-color: $secondarycolor;
  background-color: transparent !important;
  cursor: pointer;
  background-color: $secondarycolor;
}
