main {
  border: 1px solid green;
  width: 100%;
  position: relative;
  .img-girl {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .img-ball {
    position: absolute;
    bottom: 0;
  }
  .img-ball2 {
    position: absolute;
    top: 0;
    left: 30%;
  }
  .h1-container {
    border: 5px solid red;
    display: flex;
    justify-content: flex-start;
    padding: 100px;
    padding-bottom: 40px;
    h1 {
      font-family: "Pacifico";
      color: $fontcolor;
      font-size: 100px;
      line-height: 126%;
    }
  }
  .h2-container {
    border: 5px solid rgb(51, 0, 255);
    display: flex;
    justify-content: flex-start;
    padding: 10px 100px;

    h2 {
      font-family: "Poppins";
      color: $fontcolor;
      font-style: italic;
      font-weight: 300; //
      font-size: 18px;
    }
  }
}
.container-input-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 100px;

  #site-search {
    border-radius: 150px;
    border: 1px solid rgba(53, 53, 53, 0.1);
    background: rgba(218, 218, 218, 0.2);
    backdrop-filter: blur(12.050000190734863px);
    max-width: 460px;
    width: 100%;
    height: 44px;
    position: relative;
    z-index: 0;

    color: #353535;
    font-family: Poppins;
    font-size: 16px;
    font-style: italic;
    font-weight: 250;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.container-category {
  width: 100%;
  height: 150px;
  background-color: $primarycolor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    color: $fontcolor;
    font-family: Pacifico;
    font-size: 52.534px;
    font-style: normal;
    font-weight: 400;
  }
}
