@import "variables.scss";
@import "navbar.scss";
@import "hero.scss";
@import "footer.scss";
@import "sfondo.scss";
@import "buttons.scss";
@import "cards.scss";
@import "modal.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
