.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1040;

  width: 801px;
  height: 493px;
  padding: 60px 40px;

  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 1.4px solid rgba(255, 255, 255, 0.4);
  background: var(--Windows-Glass, rgba(163, 163, 163, 0.3));
  background-blend-mode: luminosity;

  /* Blur */
  backdrop-filter: blur(50px);
  h1 {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }
  h2 {
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .description {
    padding-top: 40px;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 250px;
}
.content-container::-webkit-scrollbar {
  width: 0.5em;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.content-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
