.container-page {
  width: 100%;
  height: 15vh;

  display: flex;
  align-items: center;
  justify-content: center;
  .pagination {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: $fontcolor;
    padding: 10px 40px;
    border-radius: 6px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 20px;
  li {
    display: inline-block;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;

    &.active {
      color: #fff;
      background-color: #ff4568 !important;
    }
  }
}

.btn1,
.btn2 {
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  color: $fontcolor;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  .arrow-left {
    width: 30px;
    margin-right: 15px;
  }
  .arrow-right {
    width: 30px;
    margin-left: 15px;
  }
}
