/* color */
$primarycolor: #ffddde;
$secondarycolor: #ff686b;
$fontcolor: #353535;

/* font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@1,100;1,300;1,400&family=Press+Start+2P&display=swap");
